<template>
    <div v-html="pageElementData.content"></div>
</template>

<script>
import MainLayout from "@/Layouts/MainLayout";

export default {
    name: "PageElement",
    layout: MainLayout,
    props: {
        pageElementData: null,
    },
}
</script>

<style scoped>

</style>
