<template>
    <div class="col-lg-6">
        <article class="d-flex flex-column">
            <div class="post-img">
                <img :src="article.image" alt="" class="img-fluid">
            </div>

            <h2 class="title">
                <Link :href="route('slug', article.slug)" preserve-scroll>
                    {{ article.title }}
                </Link>
            </h2>

            <div class="meta-top">
                <ul>
                    <li class="d-flex align-items-center">
                        <i class="bi bi-clock"></i><time datetime="2022-01-01">{{ article.date }}</time>
                    </li>
                </ul>
            </div>

            <div class="content">
                <p v-html="article.content"></p>
            </div>

        </article>
    </div>
</template>

<script>
import {Link} from "@inertiajs/inertia-vue3";

export default {
    name: "Article",
    components: {Link},
    props: {
        article: {
            id: Number,
            title: String,
            slug: String,
            image: String,
            content: String,
            date: String,
            tags: Array[{
                name: String
            }],
            category: {
                name: String,
                slug: String,
            }
        }
    }
}
</script>

<style scoped>

</style>
