<template>
    <div class="post-item mt-3">
        <img
            :src="article.image"
            :alt="'Logo: ' + article.title"
            class="recent-article-image"
        >
        <div>
            <h4>
                <Link :href="route('slug', article.slug)" preserve-scroll>
                    {{ article.title }}
                </Link>
            </h4>
            <time>{{ article.date }}</time>
        </div>
    </div>
</template>

<script>
import {Link} from "@inertiajs/inertia-vue3";

export default {
    name: "RecentArticle",
    components: {
        Link,
    },
    props: {
        article: {
            title: String,
            image: String,
            slug: String,
            date: String,
        },
    }
}
</script>

<style scoped>
.recent-article-image {
    object-fit: scale-down;
}
</style>
