<template>
    <div class="sidebar ps-lg-4">
        <div class="sidebar-item recent-posts">
            <h3 class="sidebar-title">
                {{ $t('frontend.home.recentArticles') }}
            </h3>
            <div class="mt-3">

                <RecentArticle v-for="article in articles.data" :article="article" />

            </div>
        </div>
    </div>
</template>

<script>
import {Link} from "@inertiajs/inertia-vue3";
import RecentArticle from "@/Components/Articles/RecentArticle.vue";

export default {
    name: "RecentArticles",
    components: {
        RecentArticle,
        Link,
    },
    props: {
        articles: Array[Object],
    }
}
</script>

<style scoped>

</style>
