<template>

    <div v-if="cookieConsentAccepted === false && $page.url !== '/polityka-prywatnosci'">
        <div
            style="z-index: 100; opacity: 0.75;"
            class="vertical-center h-100 w-100 bg-dark"
        >
        </div>

        <div
            style="z-index: 110;"
            class="vertical-center sticky-wrapper h-100 d-flex align-items-center justify-content-center"
        >
            <div class="d-flex align-items-center align-self-center card p-4 text-center cookies">
                <img src="/images/cookies.webp" alt="Cookies" class="mt-2 mb-2" width="50">

                <span class="mt-2">
                    {{ $tc('frontend.cookieConsent.text') }}<br>
                </span>

                <a class="mt-2 d-flex align-items-center" :href="route('slug', 'polityka-prywatnosci')">
                    {{ $tc('frontend.cookieConsent.linkLabel') }}<i class="fa fa-angle-right ml-2"></i>
                </a>

                <div class="row mt-3 d-flex w-100">
                    <div class="col-6">
                        <a
                            :href="route('dontAcceptCookies')"
                            class="btn btn-dark p-2">
                            {{ $tc('frontend.cookieConsent.notAcceptButtonLabel') }}
                        </a>
                    </div>

                    <div class="col-6">
                        <button
                            @click="acceptCookies()"
                            class="btn btn-dark p-2"
                            type="submit"
                        >
                            {{ $tc('frontend.cookieConsent.acceptButtonLabel') }}
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</template>

<script>

export default {
    name: "CookieConsentModal",
    methods: {
        acceptCookies() {
            this.cookieConsentAccepted = true;
            $cookies.set('cookiesConsentAccepted', true, -1);
        },
    },
    data() {
        return {
            cookieConsentAccepted: $cookies.isKey('cookiesConsentAccepted'),
            pathname: window.location.pathname,
        }
    },
}
</script>

<style scoped>
.card {
    width: 350px;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #d2d2dc;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 5px 0 rgb(249, 249, 250);
    -moz-box-shadow: 0 0 5px 0 rgba(212, 182, 212, 1);
    box-shadow: 0 0 5px 0 rgb(161, 163, 164);
}

.vertical-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
</style>
