<template>

    <div v-show="imageModal.show" @click="closeModal">
        <div
            style="z-index: 9990; opacity: 0.75;"
            class="vertical-center h-100 w-100 bg-dark"
        >
        </div>

        <div
            style="z-index: 9996;"
            class="vertical-center sticky-wrapper w-auto d-flex align-items-center justify-content-center"
        >
            <div class="d-flex align-items-center align-self-center card p-3 text-center cookies">
                <img :src="imageModal.src" class="img-fluid" alt="Article image"/>
            </div>
        </div>
    </div>

</template>

<script>
export default {
    name: "ImageModal",
    props: {
        imageModal: {
            show: Boolean,
            src: String,
        }
    },
    methods: {
        closeModal() {
            this.imageModal.show = false;
        }
    }
}
</script>

<style scoped>
.card {
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #d2d2dc;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 5px 0 rgb(249, 249, 250);
    -moz-box-shadow: 0 0 5px 0 rgba(212, 182, 212, 1);
    box-shadow: 0 0 5px 0 rgb(161, 163, 164);
}

.vertical-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
</style>
