<template>

    <main id="main">
        <section id="blog" class="blog">
            <div class="container" data-aos="fade-up">
                <div class="row g-5">
                    <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
                        <div class="row gy-5 posts-list">

                            <Article v-for="article in this.data.articles" :article="article" />

                        </div>

                        <div class="blog-pagination" v-if="this.data.articles.length !== 0">
                            <ul class="justify-content-center">
                                <li v-for="page in this.data.last_page" :class="{'active' : this.data.current_page === page}">
                                    <a href="#" v-on:click="changePage(page)">{{ page }}</a>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="400">

                        <div class="sidebar ps-lg-4">
                            <div class="sidebar-item tags">
                                <h3 class="sidebar-title">
                                    {{ $t('frontend.articles.filters.categoriesLabel') }}
                                </h3>
                                <ul class="mt-3">
                                    <li v-for="category in this.filters.categories.values">
                                        <a href="#"
                                           v-on:click="changeCategory(category)"
                                           :class="{'category-active': this.filters.categories.selectedValues.includes(category)}"
                                        >
                                            {{ category }}
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="sidebar-item tags">
                                <h3 class="sidebar-title">
                                    {{ $t('frontend.articles.filters.tagsLabel') }}
                                </h3>
                                <ul class="mt-3">
                                    <li v-for="tag in this.filters.tags.values">
                                        <a href="#"
                                           v-on:click="changeTag(tag)"
                                           :class="{'tag-active': this.filters.tags.selectedValues.includes(tag)}"
                                        >
                                            {{ tag }}
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>

                        <RecentArticles :articles="recentArticles" class="mt-5" />

                    </div>

                </div>

            </div>
        </section>
    </main>

</template>

<script>
import MainLayout from '@/Layouts/MainLayout';
import ArticleRepository from "@/Repository/GraphQL/ArticleRepository";
import Article from "@/Components/Articles/Article.vue";
import RecentArticles from "@/Components/Articles/RecentArticles.vue";

const ArticleRepo = new ArticleRepository();

export default {
    name: "Articles",
    layout: MainLayout,
    components: {
        RecentArticles,
        Article,
    },
    data() {
        return {};
    },
    props: {
        data: {
            articles: Array[Object],
            last_page: Number,
            current_page: Number,
        },
        filters: {
            categories: {
                values: Array[String],
                selectedValues: Array[String]
            },
            tags: {
                values: Array[String],
                selectedValues: Array[String]
            }
        },
        recentArticles: Array[Object],
        articlesPageLimit: Number,
    },
    methods: {
        changePage(page) {
            this.data.current_page = page;
            this.getData();
        },
        changeCategory(category) {
            if (this.filters.categories.selectedValues.includes(category)) {

                this.filters.categories.selectedValues = this.filters.categories.selectedValues.filter(function (value) {
                    return value !== category;
                })

                this.getData();

                return;
            }

            this.filters.categories.selectedValues.push(category);

            this.getData();
        },
        changeTag(tag) {
            if (this.filters.tags.selectedValues.includes(tag)) {

                this.filters.tags.selectedValues = this.filters.tags.selectedValues.filter(function (value) {
                    return value !== tag;
                })

                this.getData();

                return;
            }

            this.filters.tags.selectedValues.push(tag);

            this.getData();
        },
        getData() {
            ArticleRepo.getArticleFiltersPaginate(
                this.articlesPageLimit,
                this.data.current_page,
                this.filters.categories.selectedValues,
                this.filters.tags.selectedValues
            )
                .then((responseData) => {
                    if (responseData.paginatorInfo.currentPage > responseData.paginatorInfo.lastPage) {
                        this.data.current_page = responseData.paginatorInfo.lastPage;

                        this.getData();
                    }

                    this.data.current_page = responseData.paginatorInfo.currentPage;
                    this.data.last_page = responseData.paginatorInfo.lastPage;
                    this.data.articles = responseData.data;
            });
        },
    }
}
</script>

<style scoped>

</style>
