<template>

    <main id="main">

        <ImageModal
            v-bind:imageModal="this.imageModal"
        />

        <section id="blog" class="blog">
            <div class="container" data-aos="fade-up">
                <div class="row g-5">
                    <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

                        <article class="blog-details">

                            <div class="post-img text-center">
                                <img :src="article.image" alt="" class="img-fluid">
                            </div>

                            <h2 class="title">{{ article.title }}</h2>

                            <div class="meta-top">
                                <ul>
                                    <li class="d-flex align-items-center">
                                        <i class="bi bi-clock"></i> {{ article.date }}
                                    </li>
                                </ul>
                            </div>

                            <div
                                id="article-content"
                                class="content"
                                v-html="article.content"
                                @click="clickedOnArticle"
                            ></div>

                            <div class="meta-bottom">
                                <i class="bi bi-folder"></i>
                                <ul class="cats">
                                    <li>
                                        <Link :href="route('articles.category', article.category.slug)" preserve-scroll>
                                            {{ article.category.name }}
                                        </Link>
                                    </li>
                                </ul>

                                <i class="bi bi-tags"></i>
                                <ul class="tags">
                                    <li v-for="tag in article.tags">
                                        <Link :href="route('articles.tag', tag.slug)" preserve-scroll>
                                            {{ tag.name }}
                                        </Link>
                                    </li>
                                </ul>
                            </div>

                        </article>

                    </div>

                    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="400">

                        <RecentArticles :articles="recentArticles"/>

                    </div>
                </div>
            </div>
        </section>
    </main>

</template>

<script>
import {Link} from '@inertiajs/inertia-vue3'
import MainLayout from "@/Layouts/MainLayout";
import RecentArticles from "@/Components/Articles/RecentArticles.vue";
import hljs from 'highlight.js';
import ImageModal from "@/Components/Modal/Image.vue";

export default {
    name: "SingleArticle",
    components: {
        ImageModal,
        RecentArticles,
        Link,
    },
    layout: MainLayout,
    props: {
        article: {
            title: String,
            image: String,
            content: String,
            date: String,
            tags: Array[{
                name: String,
                slug: String
            }],
            category: {
                name: String,
                slug: String
            }
        },
        recentArticles: Array[Object],
    },
    data() {
        return {
            imageModal: {
                src: null,
                show: false,
            }
        }
    },
    mounted() {
        hljs.highlightAll();
    },
    methods: {
        clickedOnArticle(event) {
            if (event.target.tagName === 'IMG') {
                this.imageModal.src = event.target.src;
                this.imageModal.show = true;
            }
        }
    }
}
</script>

<style scoped>

</style>
