<template>

    <main id="main">

        <PageElement :page-element-data="elements['ContactPageTop'].data" />

        <section id="contact" class="contact">
            <div class="container position-relative" data-aos="fade-up">

                <div class="row gy-4 d-flex justify-content-end">

                    <div class="col" data-aos="fade-up" data-aos-delay="250">

                        <h3 class="p-3">Kontakt</h3>

                        <div v-if="result === true" class="text-center">
                            {{ $tc('frontend.contact.actions.afterSend') }}
                        </div>

                        <div v-if="result === null && canSent === false" class="text-center">
                            {{ $tc('frontend.contact.actions.whenSent') }}
                        </div>

                        <div v-if="result === false" class="text-center">
                            {{ $tc('frontend.contact.actions.errorSend') }}
                        </div>

                        <form @submit.prevent="submit" role="form" class="php-email-form" v-if="result === null && canSent === true">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input
                                        type="text"
                                        name="firstname"
                                        class="form-control"
                                        id="firstname"
                                        :placeholder="$tc('frontend.contact.form.firstnameLabel')"
                                        v-model="form.firstname"
                                        required
                                    >
                                    <div v-if="errors.firstname" class="text-danger small">
                                        {{ errors.firstname }}
                                    </div>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input
                                        type="text"
                                        class="form-control"
                                        name="surname"
                                        id="surname"
                                        :placeholder="$tc('frontend.contact.form.lastnameLabel')"
                                        v-model="form.lastname"
                                        required
                                    >
                                    <div v-if="errors.lastname" class="text-danger small">
                                        {{ errors.lastname }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input
                                    type="email"
                                    class="form-control"
                                    name="email"
                                    id="email"
                                    :placeholder="$tc('frontend.contact.form.emailLabel')"
                                    v-model="form.email"
                                    required
                                >
                                <div v-if="errors.email" class="text-danger small">
                                    {{ errors.email }}
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input
                                    type="text"
                                    class="form-control"
                                    name="subject"
                                    id="subject"
                                    :placeholder="$tc('frontend.contact.form.subjectLabel')"
                                    v-model="form.subject"
                                    required
                                >
                                <div v-if="errors.subject" class="text-danger small">
                                    {{ errors.subject }}
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <textarea
                                    class="form-control"
                                    name="message"
                                    rows="5"
                                    :placeholder="$tc('frontend.contact.form.messageLabel')"
                                    v-model="form.message"
                                    required
                                ></textarea>
                                <div v-if="errors.message" class="text-danger small">
                                    {{ errors.message }}
                                </div>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center">
                                <vue-recaptcha
                                    :sitekey="siteKey"
                                    :load-recaptcha-script="true"
                                    @verify="submit"
                                >
                                    <button type="submit">
                                        {{ $tc('frontend.contact.form.submitButtonLabel') }}
                                    </button>
                                </vue-recaptcha>
                            </div>
                        </form>

                    </div>

                </div>

            </div>
        </section>

        <PageElement :page-element-data="elements['ContactPageDown'].data" />

    </main>

</template>

<script>
import {computed} from 'vue';
import MainLayout from "@/Layouts/MainLayout";
import {useForm} from '@inertiajs/inertia-vue3'
import {VueRecaptcha} from 'vue-recaptcha';
import PageElement from "@/Components/Page/Element.vue";

export default {
    name: "Contact",
    components: {PageElement, VueRecaptcha},
    layout: MainLayout,
    props: {
        errors: Object,
        result: null,
        canSent: Boolean,
        elements: Array[Object],
    },
    setup() {
        const siteKey = computed(() => {
            return process.env.MIX_GOOGLE_RECAPTCHA_V3_SITE_KEY;
        });

        const form = useForm({
            firstname: null,
            lastname: null,
            email: null,
            subject: null,
            message: null,
            captcha: null
        });

        function submit(response) {
            form.captcha = response;

            form.post(
                route('contact.store'),
                {
                    preserveScroll: true,
                },
            );
        }

        return {
            siteKey,
            form,
            submit
        }
    },
}
</script>

<style scoped>

</style>
