<template>
    <main id="main">
        <section class="page_404">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="col text-center">

                            <div class="four_zero_four_bg">
                                <h1 class="text-center">
                                    <strong>
                                        {{ this.status }}
                                    </strong>
                                </h1>
                            </div>

                            <div class="contant_box_404">
                                <h3 class="h2">
                                    {{ $t('frontend.error.' + this.status + '.title' ) }}
                                </h3>
                                <p>
                                    {{ $t('frontend.error.' + this.status + '.description' ) }}
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</template>

<script>
import MainLayout from "@/Layouts/MainLayout";

export default {
    layout: MainLayout,
    props: {
        status: Number,
    },
}
</script>

<style>
.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: 'Arvo', serif;
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg {

    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
}

.four_zero_four_bg h1 {
    font-size: 80px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.contant_box_404 {
    margin-top: -50px;
}
</style>
