<template>

    <main id="main">

        <PageElement v-if="elements['HomePageTop'].data.enabled" :page-element-data="elements['HomePageTop'].data" />

        <RecentArticles :articles="articles"/>

        <PageElement v-if="elements['HomePageDown'].data.enabled" :page-element-data="elements['HomePageDown'].data" />

    </main>

</template>

<script>
import {Link} from '@inertiajs/inertia-vue3';
import MainLayout from "@/Layouts/MainLayout";
import PageElement from "@/Components/Page/Element";
import RecentArticles from "@/Components/Home/RecentArticles.vue";

export default {
    name: "Home",
    components: {
        Link,
        PageElement,
        RecentArticles
    },
    layout: MainLayout,
    props: {
        articles: Array[Object],
        elements: Array[{
            enabled: Boolean,
            content: String,
        }],
    }
}
</script>

<style scoped>
</style>
