<template>
    <main id="main">

        <section v-html="content"></section>

    </main>
</template>

<script>
import MainLayout from "@/Layouts/MainLayout";

export default {
    name: "SinglePage",
    layout: MainLayout,
    props: {
        content: String
    }
}
</script>

<style scoped>

</style>
