<template>
    <section id="recent-posts" class="recent-posts">
        <div class="container" data-aos="fade-up" v-if="articles.lenght !== 0">

            <div class="section-header">
                <h2>{{ $t('frontend.home.recentArticles') }}</h2>
            </div>

            <div class="row gy-5">

                <RecentArticle v-for="article in articles" :article="article"></RecentArticle>

            </div>

        </div>
    </section>
</template>

<script>
import {Link} from "@inertiajs/inertia-vue3";
import RecentArticle from "@/Components/Home/RecentArticle.vue";
export default {
    name: "RecentArticles",
    components: {
        Link,
        RecentArticle
    },
    props: {
        articles: Array[Object],
    }
}
</script>

<style scoped>

</style>
