<template>
    <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="post-box">
            <div class="post-img">
                <img :src="article.image" class="img-fluid" :alt=" 'Article ' + article.title + ' logo'">
            </div>

            <h3 class="post-title">
                {{ article.title }}
            </h3>

            <p v-html="article.content"></p>

            <Link :href="route('slug', article.slug)" class="readmore stretched-link" preserve-scroll>
                <span>{{ $t('frontend.home.readMore') }}</span><i class="bi bi-arrow-right"></i>
            </Link>
        </div>
    </div>
</template>

<script>
import {Link} from "@inertiajs/inertia-vue3";

export default {
    name: "RecentArticle",
    components: {
        Link
    },
    props: {
        article: {
            title: String,
            image: String,
            content: String,
            slug: String
        },
    }
}
</script>

<style scoped>

</style>
