<template>
    <Head>
        <title>{{ title }}</title>
        <meta name="description" :content="description">
        <meta name="keywords" :content="keywords">
        <link rel="canonical" :href="canonical">
    </Head>
</template>

<script>
import { Head } from '@inertiajs/inertia-vue3'

export default {
    components: {
        Head,
    },
    props: {
        title: String,
        description: String,
        keywords: String,
        canonical: String,
    }
}
</script>
