<template>
    <div class="maintenance-mode-modal sticky-top">
        <span class="badge badge-warning">Maintenance Mode</span>
    </div>
</template>

<script>
export default {
    name: "MaintenanceModal"
}
</script>

<style scoped>
    .maintenance-mode-modal {
        padding-left: 5px;
        padding-top: 5px;
    }
</style>
