<template>

    <div>
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list">
            <i class="fa fa-bars"></i>
        </i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x">
            <i class="fa fa-xmark"></i>
        </i>

        <nav id="navbar" class="navbar">
            <ul>
                <li v-for="nav in navs" :class="{'dropdown': nav.childless.length !== 0}">
                    <a :href="nav.link" v-if="nav.type === 'external'">
                        <i style="padding: 3px;" :class="nav.icon" v-if="nav.icon !== null"> </i> {{ nav.name }}
                    </a>

                    <Link :href="nav.link" v-if="nav.type === 'internal'" v-on:click="hideNavOnMobile" preserve-scroll>
                        <i style="padding: 3px;" :class="nav.icon" v-if="nav.icon !== null"> </i> {{ nav.name }}
                    </Link>
                    <ul v-if="nav.childless.length !== 0" class="dropdown-active">
                        <li v-for="navChild1 in nav.childless" :class="{'dropdown': nav.childless.length !== 0}">
                            <a :href="navChild1.link" v-if="navChild1.type === 'external'">
                                <i :class="navChild1.icon" v-if="nav.icon !== null"> </i> {{ navChild1.name }}
                            </a>

                            <Link :href="navChild1.link" v-if="navChild1.type === 'internal'" v-on:click="hideNavOnMobile" preserve-scroll>
                                <i :class="navChild1.icon" v-if="nav.icon !== null"> </i> {{ navChild1.name }}
                            </Link>

                            <ul v-if="navChild1.childless.length !== 0">
                                <li v-for="navChild2 in navChild1.childless">
                                    <a :href="navChild2.link" v-if="navChild2.type === 'external'">
                                        <i :class="navChild2.icon" v-if="nav.icon !== null"> </i> {{ navChild2.name }}
                                    </a>

                                    <Link :href="navChild2.link" v-if="navChild2.type === 'internal'" v-on:click="hideNavOnMobile" preserve-scroll>
                                        <i :class="navChild2.icon" v-if="nav.icon !== null"> </i> {{ navChild2.name }}
                                    </Link>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

        </nav>
    </div>

</template>

<script>
import {Link, usePage} from '@inertiajs/inertia-vue3';
import {computed} from 'vue'

export default {
    name: "PageHeaderNav",
    components: {
        Link,
    },
    setup() {
        const navs = computed(() => usePage().props.value.nav)
        return {navs}
    },
    methods: {
        hideNavOnMobile() {
            document.querySelector('body').classList.toggle('mobile-nav-active');
            document.querySelector('.mobile-nav-show').classList.toggle('d-none');
            document.querySelector('.mobile-nav-hide').classList.toggle('d-none');
        }
    }
}
</script>

<style scoped>

</style>
