<template>

    <header id="header" class="header d-flex align-items-center fixed-top sticked">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <PageHeaderLogo/>

            <PageHeaderNav />

        </div>
    </header>

</template>

<script>
import { Link } from '@inertiajs/inertia-vue3';
import PageHeaderLogo from "@/Components/Main/PageHeaderLogo.vue";
import PageHeaderNav from "@/Components/Main/PageHeaderNav.vue";

export default {
    name: "PageHeader",
    components: {
        PageHeaderNav,
        Link,
        PageHeaderLogo
    },
}
</script>

<style scoped>

</style>
