<template>

    <Link :href="route('home')" class="logo d-flex align-items-center" preserve-scroll>
        <img src="/images/kosmcode_logo.webp" alt="KosmCODE logo">
        <h1 class="d-flex align-items-center">KosmCODE</h1>
    </Link>

</template>

<script>
import {Link} from '@inertiajs/inertia-vue3';

export default {
    name: "PageHeaderLogo",
    components: {
        Link,
    },
}
</script>

<style scoped>
</style>
