<template>

    <footer id="footer" class="footer">
        <div class="footer-legal">
            <div class="container">
                <div class="copyright">
                    &copy; Copyright <Link :href="route('home')" preserve-scroll><strong><span>KosmCODE</span></strong></Link>
                </div>
            </div>
        </div>
    </footer>

</template>

<script>
import { Link } from '@inertiajs/inertia-vue3';
export default {
    name: "PageFooter",
    components: {Link}
}
</script>

<style scoped>

</style>
