<template>

    <MaintenanceModal
        v-if="$page.props.maintenanceModeEnabled === true && $page.props.auth.user.isAdmin === true"
    />

    <CookieConsentModal
        v-if="$page.props.auth.isBot === false"
    />

    <AppHead
        v-if="appHead !== undefined"
        :title="appHead.title"
        :description="appHead.description"
        :keywords="appHead.keywords"
        :canonical="appHead.canonical"
    />

    <PageHeader></PageHeader>

    <slot />

    <PageFooter></PageFooter>

</template>

<script>
import { Link } from '@inertiajs/inertia-vue3'
import PageHeader from "@/Components/Main/PageHeader";
import PageFooter from "@/Components/Main/PageFooter";
import AppHead from "@/Components/Main/AppHead";
import CookieConsentModal from "@/Components/Modal/CookieConsent";
import MaintenanceModal from "@/Components/Modal/Maintenance";

export default {
    name: "MainLayout",
    components: {
        PageFooter,
        PageHeader,
        Link,
        AppHead,
        CookieConsentModal,
        MaintenanceModal
    },
    props: {
        auth: Object,
        appHead: Object,
    }
}
</script>

<style scoped>

</style>
